@import url(reset.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

/* 
PALETA DE CORES

A: #AB9A03 sinonimo 1 (amarelo escuro)
B: #FFE924 sinonimo 2 (amarelo claro)
C: #F8E209 PRINCIPAL (amarelo)
D: #2600AB oposto 1 (roxo-azul)
E: #3E0AF7 oposto 2 (roxo)

*/
